%section.content-header
  %h1
    =FiberType.model_name.human()   
    %small Painel de Controle
  %ol.breadcrumb
    %li
      %a{:href => admin_root_path}
        %i.fa.fa-dashboard
        Home
    %li.active=FiberType.model_name.human()  
/ Main content
%section.content
  .col-xs-12
    %p= link_to "Novo #{FiberType.model_name.human()} ", new_admin_fiber_type_path, class: "btn btn-primary"
    .box
      .box-header
        %h3.box-title="#{FiberType.model_name.human(count: 2)} Cadastrados"
      .box-body.table-responsive.no-padding
        %table.table.table-hover
          %tr
            %th=t("activerecord.attributes.fiber_type.title")
            %th=t("activerecord.attributes.fiber_type.published")
            %th=t("actions")
          - for fiber_type in @fiber_types
            %tr
              %td= fiber_type.title
              %td= show_boolean(fiber_type.published)
              %td  
                = link_to t("show"), [:admin, fiber_type], class: "btn btn-default"
                = link_to t("edit"), edit_admin_fiber_type_path(fiber_type), class: "btn btn-default"
                = link_to t("destroy"),[:admin, fiber_type],  method: :delete , data:{confirm: t("msg_delete")}, class: "btn btn-default"
    %p= link_to "Novo #{FiberType.model_name.human()} ", new_admin_fiber_type_path, class: "btn btn-primary"
