%section.content-header
  %h1
    =FiberType.model_name.human()   
    %small Painel de Controle
  %ol.breadcrumb
    %li
      %a{:href => admin_root_path}
        %i.fa.fa-dashboard
        Home
    %li.active=FiberType.model_name.human() 


/ Main content
%section.content
  .row
    / left column
    .col-md-12
      / general form elements
      .box.box-primary
        .box-header
          %h3.box-title=FiberType.model_name.human() 
        .box-body  
          %p
            %b="#{t("activerecord.attributes.fiber_type.title")}:"
            %br
            = @fiber_type.title
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.fiber_type.published")}:"
            %br
            = show_boolean(@fiber_type.published)
        
  = link_to t("back_list"), admin_fiber_types_path, :class => "btn btn-default"
  = link_to t("edit"), edit_admin_fiber_type_path(@fiber_type), class: "btn btn-default"
  = link_to "Novo #{FiberType.model_name.human()} ", new_admin_fiber_type_path, class: "btn btn-primary"


