%section.content-header
  %h1
    =ProductImage.model_name.human() 
    %small Painel de Controle
  %ol.breadcrumb
    %li
      %a{:href => admin_root_path}
        %i.fa.fa-dashboard
        Home
    %li=link_to(Product.model_name.human(), admin_products_path)
    %li.active=ProductImage.model_name.human() 


/ Main content
%section.content
  .row
    / left column
    .col-md-12
      / general form elements
      .box.box-primary
        .box-header
          %h3.box-title
            ="#{ProductImage.model_name.human()}  - #{@product.title}"
        / /.box-header
        / form start
        = render 'form'
      
        %p
          = link_to t("back_list"), admin_product_product_images_path(@product), class:"btn btn-default"
