%section.content-header
  %h1
    =ProductImage.model_name.human()   
    %small Painel de Controle
  %ol.breadcrumb
    %li
      %a{:href => admin_root_path}
        %i.fa.fa-dashboard
        Home
    %li=link_to(Product.model_name.human(), admin_products_path)
    %li.active=ProductImage.model_name.human()  
/ Main content
%section.content
  .col-xs-12
    %p= link_to "Novo #{ProductImage.model_name.human()} ", new_admin_product_product_image_path(@product), class: "btn btn-primary"
    .box
      .box-header
        %h3.box-title="#{ProductImage.model_name.human(count: 2)} - #{@product.title}"
      .box-body.table-responsive.no-padding
        %table.table.table-hover
          %tr
            %th=t("activerecord.attributes.product_image.title")
            %th=t("activerecord.attributes.product_image.product_id")
            %th=t("activerecord.attributes.product_image.published")
            %th=t("actions")
          - for product_image in @product_images
            %tr
              %td= image_tag(product_image.image_prod.url("thumb"))
              %td= product_image.title
              %td= product_image.product.title
              %td= show_boolean(product_image.published)
              %td  
                = link_to t("show"), [:admin, @product,product_image], class: "btn btn-default"
                = link_to t("edit"), edit_admin_product_product_image_path(@product, product_image), class: "btn btn-default"
                = link_to t("destroy"),[:admin, @product, product_image],  method: :delete , data:{confirm: t("msg_delete")}, class: "btn btn-default"
    %p= link_to "Novo #{ProductImage.model_name.human()} ", new_admin_product_product_image_path(@product), class: "btn btn-primary"
