%section.content-header
  %h1
    =ProductImage.model_name.human()   
    %small Painel de Controle
  %ol.breadcrumb
    %li
      %a{:href => admin_root_path}
        %i.fa.fa-dashboard
        Home
    %li=link_to(Product.model_name.human(), admin_products_path)
    %li.active=ProductImage.model_name.human() 


/ Main content
%section.content
  .row
    / left column
    .col-md-12
      / general form elements
      .box.box-primary
        .box-header
          %h3.box-title="#{ProductImage.model_name.human()}  - #{@product.title}"
        .box-body  
          %p
            %b="#{t("activerecord.attributes.product_image.title")}:"
            %br
            = @product_image.title
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.product_image.product_id")}:"
            %br
            = @product_image.product.title
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.product_image.published")}:"
            %br
            = show_boolean(@product_image.published)
        .box-body  
          %p
            %b="#{t("activerecord.attributes.product_image.image_prod")}:"
            %br
            = image_tag(@product_image.image_prod.url)
            
        
  = link_to t("back_list"), admin_product_product_images_path(@product), :class => "btn btn-default"
  = link_to t("edit"), edit_admin_product_product_image_path(@product, @product_image), class: "btn btn-default"
  = link_to "Novo #{ProductImage.model_name.human()} ", new_admin_product_product_image_path(@product), class: "btn btn-primary"


