%section.content-header
  %h1
    =HeightFibrea.model_name.human()   
    %small Painel de Controle
  %ol.breadcrumb
    %li
      %a{:href => admin_root_path}
        %i.fa.fa-dashboard
        Home
    %li.active=HeightFibrea.model_name.human()  
/ Main content
%section.content
  .col-xs-12
    %p= link_to "Novo #{HeightFibrea.model_name.human()} ", new_admin_height_fibrea_path, class: "btn btn-primary"
    .box
      .box-header
        %h3.box-title="#{HeightFibrea.model_name.human(count: 2)} Cadastrados"
      .box-body.table-responsive.no-padding
        %table.table.table-hover
          %tr
            %th=t("activerecord.attributes.height_fibrea.title")
            %th=t("activerecord.attributes.height_fibrea.published")
            %th=t("actions")
          - for height_fibrea in @height_fibreas
            %tr
              %td= height_fibrea.title
              %td= show_boolean(height_fibrea.published)
              %td  
                = link_to t("show"), [:admin, height_fibrea], class: "btn btn-default"
                = link_to t("edit"), edit_admin_height_fibrea_path(height_fibrea), class: "btn btn-default"
                = link_to t("destroy"),[:admin, height_fibrea],  method: :delete , data:{confirm: t("msg_delete")}, class: "btn btn-default"
    %p= link_to "Novo #{HeightFibrea.model_name.human()} ", new_admin_height_fibrea_path, class: "btn btn-primary"
