%section.content-header
  %h1
    =HeightFibrea.model_name.human()   
    %small Painel de Controle
  %ol.breadcrumb
    %li
      %a{:href => admin_root_path}
        %i.fa.fa-dashboard
        Home
    %li.active=HeightFibrea.model_name.human() 


/ Main content
%section.content
  .row
    / left column
    .col-md-12
      / general form elements
      .box.box-primary
        .box-header
          %h3.box-title=HeightFibrea.model_name.human() 
        .box-body  
          %p
            %b="#{t("activerecord.attributes.height_fibrea.title")}:"
            %br
            = @height_fibrea.title
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.height_fibrea.published")}:"
            %br
            = show_boolean(@height_fibrea.published)
        
  = link_to t("back_list"), admin_height_fibreas_path, :class => "btn btn-default"
  = link_to t("edit"), edit_admin_height_fibrea_path(@height_fibrea), class: "btn btn-default"
  = link_to "Novo #{HeightFibrea.model_name.human()} ", new_admin_height_fibrea_path, class: "btn btn-primary"


