%section#line-header{style: "background-image:url(#{@product_line.product_line_featured_image.url})"}
  .container-fluid
    .row
      .col-md-3.col-md-offset-1
        = image_tag(@product_line.product_line_internal_image.url)
        - line_name = @product_line.name.split(" ", 2)
        %h1
          =line_name[0]
          %span
            =line_name[1]
%section#breadcrumbs
  .container-fluid
    .row
      %ol.breadcrumb
        %li
          =link_to("Home", root_path())
        %li.active
          = @product_line.name
%section#grass
  .container-fluid
    -if @products.blank?
      .row
        .col-md-12.grass-box
          %p.error Nenhum produto Cadastrado!
    -else
      -@products.each do |product|
        -@product = product
        -@product_images = product.product_images.all_published
        = render 'layouts/product', locals: {product: @product, product_images: @product_images}
        
