= form_for [:admin, @product_line] do |f|
  -if f.error_messages
    .alert.alert-danger.alert-dismissable
      %i.fa.fa-ban
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %b Alert!
      = f.error_messages

  .box-body        
    .form-group 
      = f.label :name
      = f.text_field :name, class: "form-control"
    .form-group 
      = f.label :order
      = f.text_field :order, class: "form-control"
    .form-group
      = f.label :product_line_image
      = f.file_field :product_line_image, :class => "form-control"
    - if @product_line.product_line_image.file?
      .form-group
        =image_tag(@product_line.product_line_image.url)
    .form-group
      = f.label :product_line_internal_image
      = f.file_field :product_line_internal_image, :class => "form-control"
    - if @product_line.product_line_internal_image.file?
      .form-group
        =image_tag(@product_line.product_line_internal_image.url)    
    .form-group
      = f.label :product_line_featured_image
      = f.file_field :product_line_featured_image, :class => "form-control"
    - if @product_line.product_line_featured_image.file?
      .form-group
        =image_tag(@product_line.product_line_featured_image.url)
        
        
    .form-group 
      = f.label :published
      = f.check_box :published
  .box-footer
    =f.submit nil, class: "btn btn-primary"