%section.content-header
  %h1
    =ProductLine.model_name.human()   
    %small Painel de Controle
  %ol.breadcrumb
    %li
      %a{:href => admin_root_path}
        %i.fa.fa-dashboard
        Home
    %li.active=ProductLine.model_name.human()  
/ Main content
%section.content
  .col-xs-12
    %p= link_to "Nova #{ProductLine.model_name.human()} ", new_admin_product_line_path, class: "btn btn-primary"
    .box
      .box-header
        %h3.box-title="#{ProductLine.model_name.human(count: 2)}  Cadastrados"
      .box-body.table-responsive.no-padding
        %table.table.table-hover
          %tr
            %th=t("activerecord.attributes.product_line.product_line_image")
            %th=t("activerecord.attributes.product_line.name")
            %th=t("activerecord.attributes.product_line.order")
            %th=t("activerecord.attributes.product_line.published")
            %th=t("actions")
          - for product_line in @product_lines
            %tr
              %td= image_tag(product_line.product_line_image.url("thumb")) if product_line.product_line_image.file?
              %td= product_line.name
              %td= product_line.order
              %td= show_boolean(product_line.published)
              %td  
                = link_to t("edit"), edit_admin_product_line_path(product_line), class: "btn btn-default"
                = link_to t("destroy"),[:admin, product_line],  method: :delete , data:{confirm: t("msg_delete")}, class: "btn btn-default"
    %p= link_to "Nova #{ProductLine.model_name.human()} ", new_admin_product_line_path, class: "btn btn-primary"
