%section.content-header
  %h1
    =ProductLine.model_name.human()   
    %small Painel de Controle
  %ol.breadcrumb
    %li
      %a{:href => admin_root_path}
        %i.fa.fa-dashboard
        Home
    %li.active =ProductLine.model_name.human()  


/ Main content
%section.content
  .row
    / left column
    .col-md-12
      / general form elements
      .box.box-primary
        .box-header
          %h3.box-title= @product_line.name
        .box-body  
          %p
            %b="#{t("activerecord.attributes.product_line.order")}:"
            %br
            = @product_line.order
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.product_line.published")}:"
            %br
            = show_boolean(@product_line.published)
            
        
  = link_to t("back_list"), admin_product_lines_path, :class => "btn btn-default"
  = link_to t("edit"), edit_admin_product_line_path(@product_line), class: "btn btn-default"
  = link_to "Nova #{ProductLine.model_name.human()}", new_admin_product_line_path, class: "btn btn-primary"


