= form_for [:admin, @configuration_site] do |f|
  -if f.error_messages
    .alert.alert-danger.alert-dismissable
      %i.fa.fa-ban
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %b Alert!
      = f.error_messages

  .box-body
    #tabs.nav-tabs-custom
      %ul.nav.nav-tabs
        %li.active
          =link_to("Institucional", "#institutional", "data-toggle": "tab")
        %li
          =link_to("Grama Sintética", "#synthetic_grass", "data-toggle": "tab")
        %li
          =link_to("Pesquisa e Inovação", "#research_innovation", "data-toggle": "tab")
        %li
          =link_to("Garantia", "#warranty", "data-toggle": "tab")
      .tab-content
        #institutional.active.tab-pane
          .form-group
            = f.label :title_institutional
            = f.text_field :title_institutional, class: "form-control"
          .form-group
            = f.label :description_institutional
            = f.text_area :description_institutional, class: "form-control tinymce"
          .form-group
            = f.label :movie_institutional
            = f.text_field :movie_institutional, class: "form-control"
          .form-group
            = f.label :movie_institutional_two
            = f.text_field :movie_institutional_two, class: "form-control"
          .form-group
            = f.label :movie_text_institutional
            = f.text_area :movie_text_institutional, class: "form-control"
          .form-group
            = f.label :cover_institutional
            = f.file_field :cover_institutional, :class => "form-control"
          - if @configuration_site.cover_institutional.file?
            .form-group
              =image_tag(@configuration_site.cover_institutional.url)
          .form-group
            = f.label :icon_institutional
            = f.file_field :icon_institutional, :class => "form-control"
          - if @configuration_site.icon_institutional.file?
            .form-group{style: "background-color: #ccc;"}
              =image_tag(@configuration_site.icon_institutional.url)
        #synthetic_grass.tab-pane
          .form-group
            = f.label :title_synthetic_grass
            = f.text_field :title_synthetic_grass, class: "form-control"
          .form-group
            = f.label :description_synthetic_grass
            = f.text_area :description_synthetic_grass, class: "form-control  tinymce"
          .form-group
            = f.label :cover_synthetic_grass
            = f.file_field :cover_synthetic_grass, :class => "form-control"
          - if @configuration_site.cover_synthetic_grass.file?
            .form-group
              =image_tag(@configuration_site.cover_synthetic_grass.url)
          .form-group
            = f.label :icon_synthetic_grass
            = f.file_field :icon_synthetic_grass, :class => "form-control"
          - if @configuration_site.icon_synthetic_grass.file?
            .form-group
              =image_tag(@configuration_site.icon_synthetic_grass.url)
        #research_innovation.tab-pane
          .form-group
            = f.label :title_research_innovation
            = f.text_field :title_research_innovation, class: "form-control"
          .form-group
            = f.label :description_research_innovation
            = f.text_area :description_research_innovation, class: "form-control  tinymce"
          .form-group
            = f.label :cover_research_innovation
            = f.file_field :cover_research_innovation, :class => "form-control"
          - if @configuration_site.cover_research_innovation.file?
            .form-group
              =image_tag(@configuration_site.cover_research_innovation.url)
          .form-group
            = f.label :icon_research_innovation
            = f.file_field :icon_research_innovation, :class => "form-control"
          - if @configuration_site.icon_research_innovation.file?
            .form-group
              =image_tag(@configuration_site.icon_research_innovation.url)
        #warranty.tab-pane
          .form-group
            = f.label :title_warranty
            = f.text_field :title_warranty, class: "form-control"
          .form-group
            = f.label :description_warranty
            = f.text_area :description_warranty, class: "form-control tinymce"

          .form-group
            = f.label :cover_warranty
            = f.file_field :cover_warranty, :class => "form-control"
          - if @configuration_site.cover_warranty.file?
            .form-group
              =image_tag(@configuration_site.cover_warranty.url)
          .form-group
            = f.label :icon_warranty
            = f.file_field :icon_warranty, :class => "form-control"
          - if @configuration_site.icon_warranty.file?
            .form-group
              =image_tag(@configuration_site.icon_warranty.url)
    .form-group
      = f.label :link_facebook
      = f.text_field :link_facebook, class: "form-control"
    .form-group
      = f.label :link_instagram
      = f.text_field :link_instagram, class: "form-control"
    .form-group
      = f.label :whatsapp
      = f.text_field :whatsapp, class: "form-control"
    .form-group
      = f.label :email_contact
      = f.text_field :email_contact, class: "form-control"
  .box-footer
    =f.submit nil, class: "btn btn-primary"
