%section.content-header
  %h1
    =ConfigurationSite.model_name.human()   
    %small Painel de Controle
  %ol.breadcrumb
    %li
      %a{:href => admin_root_path}
        %i.fa.fa-dashboard
        Home
    %li.active=ConfigurationSite.model_name.human()  
/ Main content
%section.content
  .col-xs-12
    %p= link_to "Novo #{ConfigurationSite.model_name.human()} ", new_admin_configuration_site_path, class: "btn btn-primary"
    .box
      .box-header
        %h3.box-title="#{ConfigurationSite.model_name.human(count: 2)} Cadastrados"
      .box-body.table-responsive.no-padding
        %table.table.table-hover
          %tr
            %th=t("activerecord.attributes.configuration_site.title_institutional")
            %th=t("activerecord.attributes.configuration_site.description_institutional")
            %th=t("activerecord.attributes.configuration_site.movie_institutional")
            %th=t("activerecord.attributes.configuration_site.movie_text_institutional")
            %th=t("activerecord.attributes.configuration_site.title_research_innovation")
            %th=t("activerecord.attributes.configuration_site.description_research_innovation")
            %th=t("activerecord.attributes.configuration_site.title_warranty")
            %th=t("activerecord.attributes.configuration_site.description_warranty")
            %th=t("activerecord.attributes.configuration_site.link_facebook")
            %th=t("activerecord.attributes.configuration_site.link_instagram")
            %th=t("activerecord.attributes.configuration_site.email_contact")
            %th=t("activerecord.attributes.configuration_site.published")
            %th=t("actions")
          - for configuration_site in @configuration_sites
            %tr
              %td= configuration_site.title_institutional
              %td= configuration_site.description_institutional
              %td= configuration_site.movie_institutional
              %td= configuration_site.movie_text_institutional
              %td= configuration_site.title_research_innovation
              %td= configuration_site.description_research_innovation
              %td= configuration_site.title_warranty
              %td= configuration_site.description_warranty
              %td= configuration_site.link_facebook
              %td= configuration_site.link_instagram
              %td= configuration_site.email_contact
              %td= show_boolean(configuration_site.published)
              %td  
                = link_to t("show"), [:admin, configuration_site], class: "btn btn-default"
                = link_to t("edit"), edit_admin_configuration_site_path(configuration_site), class: "btn btn-default"
                = link_to t("destroy"),[:admin, configuration_site],  method: :delete , data:{confirm: t("msg_delete")}, class: "btn btn-default"
    %p= link_to "Novo #{ConfigurationSite.model_name.human()} ", new_admin_configuration_site_path, class: "btn btn-primary"
