%section.content-header
  %h1
    =ConfigurationSite.model_name.human()   
    %small Painel de Controle
  %ol.breadcrumb
    %li
      %a{:href => admin_root_path}
        %i.fa.fa-dashboard
        Home
    %li.active=ConfigurationSite.model_name.human() 


/ Main content
%section.content
  .row
    / left column
    .col-md-12
      / general form elements
      .box.box-primary
        .box-header
          %h3.box-title=ConfigurationSite.model_name.human() 
        .box-body  
          %p
            %b="#{t("activerecord.attributes.configuration_site.title_institutional")}:"
            %br
            = @configuration_site.title_institutional
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.configuration_site.description_institutional")}:"
            %br
            = @configuration_site.description_institutional
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.configuration_site.movie_institutional")}:"
            %br
            = @configuration_site.movie_institutional
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.configuration_site.movie_text_institutional")}:"
            %br
            = @configuration_site.movie_text_institutional
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.configuration_site.title_research_innovation")}:"
            %br
            = @configuration_site.title_research_innovation
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.configuration_site.description_research_innovation")}:"
            %br
            = @configuration_site.description_research_innovation
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.configuration_site.title_warranty")}:"
            %br
            = @configuration_site.title_warranty
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.configuration_site.description_warranty")}:"
            %br
            = @configuration_site.description_warranty
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.configuration_site.link_facebook")}:"
            %br
            = @configuration_site.link_facebook
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.configuration_site.link_instagram")}:"
            %br
            = @configuration_site.link_instagram
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.configuration_site.email_contact")}:"
            %br
            = @configuration_site.email_contact
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.configuration_site.published")}:"
            %br
            = show_boolean(@configuration_site.published)
        
  = link_to t("back_list"), admin_configuration_sites_path, :class => "btn btn-default"
  = link_to t("edit"), edit_admin_configuration_site_path(@configuration_site), class: "btn btn-default"
  = link_to "Novo #{ConfigurationSite.model_name.human()} ", new_admin_configuration_site_path, class: "btn btn-primary"


