%section#institutional-header{style: "background-image: url('#{@configuration_site.cover_institutional.url("otimize")}')"}
  .container-fluid
    .row
      .col-md-3.col-md-offset-1
        -if @configuration_site.icon_institutional.file?
          =image_tag(@configuration_site.icon_institutional.url("otimize"))
        %h1
          Institucional
%section#breadcrumbs
  .container-fluid
    .row
      %ol.breadcrumb
        %li
          = link_to("Home", root_path())
        %li.active
          Institucional
%section#institutional-content
  .container
    .row
      .col-md-12
        %h2=@configuration_site.title_institutional
        =raw(@configuration_site.description_institutional)
- if ((!@configuration_site.movie_institutional.blank?) || (!@configuration_site.movie_institutional_two.blank?))
  %section#institutional-video
    .container-fluid
      .row
        .container
          .row
            - if ((!@configuration_site.movie_institutional.blank?) && (!@configuration_site.movie_institutional_two.blank?))
              .col-md-12.col-xs-12
                %h3.two_movies.text-center
                  vídeos institucionais
            .col-md-6.col-xs-12
              .embed-responsive.embed-responsive-16by9
                - if !@configuration_site.movie_institutional.blank?
                  %iframe.embed-responsive-item{:src => "#{@configuration_site.movie_institutional}", :frameborder => "0", :allowfullscreen => ""}
                - else
                  %iframe.embed-responsive-item{:src => "#{@configuration_site.movie_institutional_two}", :frameborder => "0", :allowfullscreen => ""}
            .col-md-6.col-xs-12
              - if ((!@configuration_site.movie_institutional.blank?) && (!@configuration_site.movie_institutional_two.blank?))
                .embed-responsive.embed-responsive-16by9
                  %iframe.embed-responsive-item{:src => "#{@configuration_site.movie_institutional_two}", :frameborder => "0", :allowfullscreen => ""}
              -else
                -if @configuration_site.movie_text_institutional.blank?
                  %h3
                    vídeo institucional
                -else
                  %h3.text-show
                    vídeo institucional
                  %p.text-show=@configuration_site.movie_text_institutional
            - if ((!@configuration_site.movie_institutional.blank?) && (!@configuration_site.movie_institutional_two.blank?))
              -if !@configuration_site.movie_text_institutional.blank?
                .col-md-12.col-xs-12
                  %p.two_movies=@configuration_site.movie_text_institutional


-if !@images.blank?
  .container-fluid
    .row
      .col-md-12
        -if @images.count ==  1
          .row
            = image_tag(@images.first.featured_internal.url("otimize"), style: "width: 100%;")
        -else
          #slides
            -@images.each do |image|
              = image_tag(image.featured_internal.url("otimize"))
            %a.slidesjs-previous.slidesjs-navigation{:href => "#"}
              %i.fa.fa-chevron-left
            %a.slidesjs-next.slidesjs-navigation{:href => "#"}
              %i.fa.fa-chevron-right
            -content_for :footer do
              %script
                $(window).load(function(){
                $("#slides").slidesjs({
                height: 600,
                width: 1400,
                navigation: {
                active: false
                },
                pagination: {
                active: true,
                effect: "slide"
                },
                play: {
                active: false,
                effect: "fade",
                interval: 5000,
                auto: true
                }
                });
                });
