=render file: "layouts/_filter.html"
%section#grass-cards.text-center
  .container-fluid
    .row.grass-lines
      .col-md-3
        .row#filter-results.text-left
          =image_tag("icon-filter.jpg", class: "img-responsive")
          %dl
            %dt
              Resultados da
              %span
                Pesquisa
            -if !@product_line.blank?
              %dd
                =@product_line.name
                =link_to filters_path(height_fibrea: @height_fibrea, roll_width: @roll_width, fiber_type: @fiber_type), method: :post do 
                  %i.filter-remove
            -if !@height_fibrea.blank?
              %dd
                =@height_fibrea.title
                =link_to filters_path(product_line: @product_line, roll_width: @roll_width, fiber_type: @fiber_type), method: :post do 
                  %i.filter-remove
            -if !@roll_width.blank?
              %dd
                =@roll_width.title
                =link_to filters_path(product_line: @product_line, height_fibrea: @height_fibrea, fiber_type: @fiber_type), method: :post do 
                  %i.filter-remove
            -if !@fiber_type.blank?
              %dd
                =@fiber_type.title
                =link_to filters_path(product_line: @product_line, height_fibrea: @height_fibrea, roll_width: @roll_width), method: :post do 
                  %i.filter-remove            
            /%dd
            /  Fibrilada 100% Polietileno
            /  %a{:href => "#", :title => "Remover"}
            /    %i.filter-remove
      .col-md-9
        -if !@products.blank?
          -@products.each do |product|
            .col-md-4
              =link_to product_path(product) do
                .grass-card
                  %p=product.title
                  =image_tag(product.product_home_image.url("home"))
                  %p=product.fiber_type.title
        -else
          %p
            Nenhum Produto Encontrado!