-content_for :footer do
  %script
    $(window).load(function(){
    $('.flexslider').flexslider({
    animation: "slide",
    controlNav: false
    });
    });
-if !@featureds.blank?
  .container-fluid.hidden-xs.hidden-sm
    .row#slider
      .flexslider
        %ul.list-unstyled.list-inline.slides
          - @featureds.each do |featured|
            -if featured.link.blank?
              %li
                =image_tag(featured.featured_image.url("otimize"), :class => "img-responsive")
            -else
              %li
                =link_to(image_tag(featured.featured_image.url("otimize"), :class => "img-responsive"), featured.link, target: "_blank")

-if !@product_lines.blank?
  %section#grass-cards.text-center
    .container-fluid
      -@product_lines.each do |product_line|
        .row.grass-lines
          .col-md-3
            = link_to product_line_path(product_line) do
              .grass-line-card.text-left
                = image_tag(product_line.product_line_image.url("otimize")) if product_line.product_line_image.file?
                - line_name = product_line.name.split(" ", 2)
                %h3
                  =line_name[0]
                  %br
                  %span
                    =line_name[1]
          -products = @products.select{|product| product.product_line_id == product_line.id}
          -if !products.blank?
            -products.shuffle.take(3).each do |product|
              .col-md-3
                =link_to product_path(product) do
                  .grass-card
                    %p=product.title
                    =image_tag(product.product_home_image.url("home"))
                    %p=product.fiber_type.title
