%section#institutional-header{style: "background-image: url('#{@configuration_site.cover_warranty.url("otimize")}')"}
  .container-fluid
    .row
      .col-md-3.col-md-offset-1
        -if @configuration_site.icon_warranty.file?
          =image_tag(@configuration_site.icon_warranty.url("otimize"))
        %h1
          Garantia
%section#breadcrumbs
  .container-fluid
    .row
      %ol.breadcrumb
        %li
          = link_to("Home", root_path())
        %li.active
          Garantia
%section#institutional-content
  .container
    .row
      .col-md-12
        %h2=@configuration_site.title_warranty
        =raw(@configuration_site.description_warranty)
-if !@images.blank?
  .container-fluid
    .row
      .col-md-12
        -if @images.count ==  1
          .row
            = image_tag(@images.first.featured_internal.url("otimize"), style: "width: 100%;")          
        -else
          #slides
            -@images.each do |image|
              = image_tag(image.featured_internal.url("otimize"))
            %a.slidesjs-previous.slidesjs-navigation{:href => "#"}
              %i.fa.fa-chevron-left
            %a.slidesjs-next.slidesjs-navigation{:href => "#"}
              %i.fa.fa-chevron-right
            -content_for :footer do 
              %script
                $(window).load(function(){
                $("#slides").slidesjs({
                height: 600,
                width: 1400,
                navigation: {
                active: false
                },
                pagination: {
                active: true,
                effect: "slide"
                },
                play: {
                active: false,
                effect: "fade",
                interval: 5000,
                auto: true
                }
                });
                });