= form_for [:admin, @featured] do |f|
  -if f.error_messages
    .alert.alert-danger.alert-dismissable
      %i.fa.fa-ban
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %b Alert!
      = f.error_messages

  .box-body        
    .form-group 
      = f.label :title
      = f.text_field :title, class: "form-control", placeholder: t("activerecord.attributes.featured.title")
    .form-group
      = f.label :featured_image
      = f.file_field :featured_image, :class => "form-control"
    - if @featured.featured_image.file?
      .form-group
        =image_tag(@featured.featured_image.url, class: "img-responsive")
      /.form-group
      /  =link_to "Deletar Imagem", destroy_image_admin_featured_path(@featured.id), class: "btn btn-primary"
    .form-group 
      = f.label :link
      = f.text_field :link, class: "form-control", placeholder: t("activerecord.attributes.featured.link")
    .form-group 
      = f.label :published
      = f.check_box :published
  .box-footer
    =f.submit nil, :class => "btn btn-primary"