%section.content-header
  %h1
    =Featured.model_name.human() 
    %small Painel de Controle
  %ol.breadcrumb
    %li
      %a{:href => admin_root_path}
        %i.fa.fa-dashboard
        Home
    %li.active=Featured.model_name.human()
/ Main content
%section.content
  .col-xs-12
    %p= link_to "Novo #{Featured.model_name.human()}", new_admin_featured_path, class: "btn btn-primary"
    .box
      .box-header
        %h3.box-title="#{Featured.model_name.human(count: 2)} Cadastrados"
      .box-body.table-responsive.no-padding
        %table.table.table-hover
          %tr
            %th=t("activerecord.attributes.featured.featured_image")
            %th=t("activerecord.attributes.featured.title")
            %th=t("activerecord.attributes.featured.published")
            %th=t("actions")
          - for featured in @featureds
            %tr
              %td= image_tag(featured.featured_image.url("thumb"))
              %td= featured.title
              %td= show_boolean(featured.published)
              %td  
                = link_to t("show"), [:admin, featured], :class => "btn btn-default"
                = link_to t("edit"), edit_admin_featured_path(featured), :class => "btn btn-default"
                = link_to t("destroy"), [:admin, featured], :confirm => t("msg_delete"), :method => :delete, :class => "btn btn-default"
    %p= link_to "Novo #{Featured.model_name.human()}", new_admin_featured_path, :class => "btn btn-primary"
