%section.content-header
  %h1
    Admin/Featured  
    %small Painel de Controle
  %ol.breadcrumb
    %li
      %a{:href => admin_root_path}
        %i.fa.fa-dashboard
        Home
    %li.active Admin/Featured


/ Main content
%section.content
  .row
    / left column
    .col-md-12
      / general form elements
      .box.box-primary
        .box-header
          %h3.box-title=@featured.title
        .box-body 
          %p
            %b="#{t("activerecord.attributes.featured.featured_image")}:"
            %br
            =image_tag(@featured.featured_image.url, class: "img-responsive")
        .box-body  
          %p
            %b="#{t("activerecord.attributes.featured.published")}:"
            %br
            = show_boolean(@featured.published)
            
        
  = link_to t("back_list"), admin_featureds_path, :class => "btn btn-default"
  = link_to t("edit"), edit_admin_featured_path(@featured), :class => "btn btn-default" 
  = link_to "Novo Admin/Featured", new_admin_featured_path, :class => "btn btn-primary"


