/-content_for :footer do
/  = tinymce_assets
/  = tinymce :basic
= form_for [:admin, @product] do |f|
  -if f.error_messages
    .alert.alert-danger.alert-dismissable
      %i.fa.fa-ban
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %b Alert!
      = f.error_messages

  .box-body        
    .form-group 
      = f.label :title
      = f.text_field :title, class: "form-control"
    .form-group 
      = f.label :description
      = f.text_area :description, class: "form-control"
    .form-group 
      = f.label :product_line_id
      = f.select :product_line_id, @product_lines,{}, {class: "form-control"}
    .form-group 
      = f.label :height_fibrea_id
      = f.select :height_fibrea_id, @height_fibreas,{}, {class: "form-control"}
    .form-group 
      = f.label :roll_width_id
      = f.select :roll_width_id, @roll_widths,{}, {class: "form-control"}
    .form-group 
      = f.label :fiber_type_id
      = f.select :fiber_type_id, @fiber_types,{}, {class: "form-control"}
    .form-group 
      = f.label :length_roll
      = f.text_field :length_roll, class: "form-control"
    .form-group 
      = f.label :weight
      = f.text_field :weight, class: "form-control"
    .form-group 
      = f.label :thickness_wire
      = f.text_field :thickness_wire, class: "form-control"
    .form-group 
      = f.label :basis
      = f.text_field :basis, class: "form-control"
    .form-group 
      = f.label :warranty
      = f.text_field :warranty, class: "form-control"
    .form-group
      = f.label :product_home_image
      = f.file_field :product_home_image, :class => "form-control"
    - if @product.product_home_image.file?
      .form-group
        =image_tag(@product.product_home_image.url)
    .form-group 
      = f.label :published
      = f.check_box :published
  .box-footer
    =f.submit nil, class: "btn btn-primary"