%section.content-header
  %h1
    =Product.model_name.human()   
    %small Painel de Controle
  %ol.breadcrumb
    %li
      %a{:href => admin_root_path}
        %i.fa.fa-dashboard
        Home
    %li.active=Product.model_name.human()  
/ Main content
%section.content
  .col-xs-12
    %p= link_to "Novo #{Product.model_name.human()} ", new_admin_product_path, class: "btn btn-primary"
    .box
      .box-header
        %h3.box-title="#{Product.model_name.human(count: 2)} Cadastrados"
      .box-body.table-responsive.no-padding
        %table.table.table-hover
          %tr
            %th=t("activerecord.attributes.product.product_home_image")
            %th=t("activerecord.attributes.product.title")
            %th=t("activerecord.attributes.product.published")
            %th=t("actions")
          - for product in @products
            %tr
              %td= image_tag(product.product_home_image.url("thumb"))
              %td= product.title
              %td= show_boolean(product.published)
              %td  
                = link_to t("show"), [:admin, product], class: "btn btn-default"
                = link_to t("edit"), edit_admin_product_path(product), class: "btn btn-default"
                = link_to t("destroy"),[:admin, product],  method: :delete , data:{confirm: t("msg_delete")}, class: "btn btn-default"
                = link_to "#{ProductImage.model_name.human(count: 2)}", admin_product_product_images_path(product), class: "btn btn-success"
    %p= link_to "Novo #{Product.model_name.human()} ", new_admin_product_path, class: "btn btn-primary"
