%section.content-header
  %h1
    =Product.model_name.human()   
    %small Painel de Controle
  %ol.breadcrumb
    %li
      %a{:href => admin_root_path}
        %i.fa.fa-dashboard
        Home
    %li.active=Product.model_name.human() 


/ Main content
%section.content
  .row
    / left column
    .col-md-12
      / general form elements
      .box.box-primary
        .box-header
          %h3.box-title=Product.model_name.human() 
        .box-body  
          %p
            %b="#{t("activerecord.attributes.product.title")}:"
            %br
            = @product.title
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.product.description")}:"
            %br
            = @product.description
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.product.product_line_id")}:"
            %br
            = @product.product_line.name
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.product.height_fibrea_id")}:"
            %br
            = @product.height_fibrea.title
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.product.roll_width_id")}:"
            %br
            = @product.roll_width.title
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.product.fiber_type_id")}:"
            %br
            = @product.fiber_type.title
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.product.length_roll")}:"
            %br
            = @product.length_roll
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.product.weight")}:"
            %br
            = @product.weight
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.product.thickness_wire")}:"
            %br
            = @product.thickness_wire
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.product.basis")}:"
            %br
            = @product.basis
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.product.warranty")}:"
            %br
            = @product.warranty
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.product.published")}:"
            %br
            = show_boolean(@product.published)
        
  = link_to t("back_list"), admin_products_path, :class => "btn btn-default"
  = link_to t("edit"), edit_admin_product_path(@product), class: "btn btn-default"
  = link_to "Novo #{Product.model_name.human()} ", new_admin_product_path, class: "btn btn-primary"
  = link_to "#{ProductImage.model_name.human(count: 2)}", admin_product_product_images_path(@product), class: "btn btn-success"


