= form_for [:admin, @internal_image] do |f|
  -if f.error_messages
    .alert.alert-danger.alert-dismissable
      %i.fa.fa-ban
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %b Alert!
      = f.error_messages

  .box-body        
    .form-group 
      = f.label :title
      = f.text_field :title, class: "form-control"
    .form-group 
      = f.label :category
      = f.select(:category, [['Institucional', 1], ['Grama Sintética', 2], ['Pesquisa e Inovação', 3], ['Garantia', 4]], {}, {class: "form-control"})
      /= f.text_field :category
    .form-group
      = f.label :featured_internal
      = f.file_field :featured_internal, :class => "form-control"
    - if @internal_image.featured_internal.file?
      .form-group
        =image_tag(@internal_image.featured_internal.url, class: "img-responsive")
    .form-group 
      = f.label :published
      = f.check_box :published
  .box-footer
    =f.submit nil, class: "btn btn-primary"