%section.content-header
  %h1
    =InternalImage.model_name.human()   
    %small Painel de Controle
  %ol.breadcrumb
    %li
      %a{:href => admin_root_path}
        %i.fa.fa-dashboard
        Home
    %li.active=InternalImage.model_name.human()  
/ Main content
%section.content
  .col-xs-12
    %p= link_to "Novo #{InternalImage.model_name.human()} ", new_admin_internal_image_path, class: "btn btn-primary"
    .box
      .box-header
        %h3.box-title="#{InternalImage.model_name.human(count: 2)} Cadastrados"
      .box-body.table-responsive.no-padding
        %table.table.table-hover
          %tr
            %th=t("activerecord.attributes.internal_image.featured_internal")
            %th=t("activerecord.attributes.internal_image.title")
            %th=t("activerecord.attributes.internal_image.category")
            %th=t("activerecord.attributes.internal_image.published")
            %th=t("actions")
          - for internal_image in @internal_images
            %tr
              %td= image_tag(internal_image.featured_internal.url("thumb"))
              %td= internal_image.title
              %td= translate_category(internal_image.category)
              %td= show_boolean(internal_image.published)
              %td  
                = link_to t("show"), [:admin, internal_image], class: "btn btn-default"
                = link_to t("edit"), edit_admin_internal_image_path(internal_image), class: "btn btn-default"
                = link_to t("destroy"),[:admin, internal_image],  method: :delete , data:{confirm: t("msg_delete")}, class: "btn btn-default"
    %p= link_to "Novo #{InternalImage.model_name.human()} ", new_admin_internal_image_path, class: "btn btn-primary"
