%section.content-header
  %h1
    =InternalImage.model_name.human()   
    %small Painel de Controle
  %ol.breadcrumb
    %li
      %a{:href => admin_root_path}
        %i.fa.fa-dashboard
        Home
    %li.active=InternalImage.model_name.human() 


/ Main content
%section.content
  .row
    / left column
    .col-md-12
      / general form elements
      .box.box-primary
        .box-header
          %h3.box-title=InternalImage.model_name.human() 
        .box-body  
          %p
            %b="#{t("activerecord.attributes.internal_image.title")}:"
            %br
            = @internal_image.title
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.internal_image.category")}:"
            %br
            = translate_category(@internal_image.category)
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.internal_image.published")}:"
            %br
            = show_boolean(@internal_image.published)
        
  = link_to t("back_list"), admin_internal_images_path, :class => "btn btn-default"
  = link_to t("edit"), edit_admin_internal_image_path(@internal_image), class: "btn btn-default"
  = link_to "Novo #{InternalImage.model_name.human()} ", new_admin_internal_image_path, class: "btn btn-primary"


