html
  font-size: 100%
body
  font-family: 'Roboto', sans-serif
  background-color: rgb(206, 206, 206)
$slc-green: rgb(78, 149, 51)
$slc-blue: rgb(31, 47, 93)
$slc-grey: rgb(238, 238, 238)
$slc-light-grey: rgb(195, 195, 195)
#slides
  display: none
#main-nav-bg
  background-color: $slc-grey
#main-nav > ul li a
  height: 57px
.navbar-default .navbar-nav > li > a
  color: $slc-blue
  padding: 10px 7px
  &:hover
    background-color: $slc-green
    color: #fff
.navbar-default .navbar-nav > .active > a
  background-color: $slc-green
  color: #fff
#social-nav
  ul
    margin: 10px 0 0 0
    li:first-child
      margin-right: 10px
    li
      @media screen and (max-width: 550px)
        padding-bottom: 20px
#slider
  overflow: hidden
  margin-top: 57px
#search-box
  margin-top: 57px
#bg-search
  background-image: asset-url('bg-search.jpg')
  background-position: center
  background-size: cover
#box-search
  background-color: rgba(0, 0, 0, 0.5)
  padding-top: 40px
  padding-bottom: 30px
  padding-left: 38px
  padding-right: 38px
  color: #fff
  h2
    font-size: 36px
    margin-top: 0
    span
      font-weight: bold
  label
    font-weight: normal
    text-transform: capitalize
    padding-top: 6px
  select
    border-radius: 0
    border: none
    -webkit-appearance: none
    background: asset-url('arrow-select.png') no-repeat right #fff
  button
    margin-top: 30px
    padding: 4px 32px 8px 32px
    font-size: 14px
    color: darken($slc-green, 20%)
    i
      font-size: 30px
      padding-right: 8px
#filter-results
  background-color: #fff
  min-height: 511px
  padding-top: 50px
  padding-left: 50px
  img
    padding-bottom: 15px
    padding-right: 15px
    border-bottom: 4px solid $slc-blue
  dl
    padding-top: 10px
    dt
      font-size: 27px
      color: $slc-green
      line-height: 1
      font-weight: normal
      padding-bottom: 28px
      span
        font-size: 36px
        color: $slc-blue
        font-weight: bold
    dd
      border: 1px solid $slc-light-grey
      max-width: 176px
      margin: 10px 0
      padding: 4px 6px
      font-size: 11px
      color: darken($slc-light-grey, 40%)
      position: relative
      a
        position: absolute
        right: 7px
        top: 0px
.filter-remove
  &:before
    font-family: 'FontAwesome'
    content: '\f00d'
    color: darken($slc-light-grey, 40%)
    font-size: 16px
#grass-cards
  margin-top: 14px
  a
    text-decoration: none
  .grass-line-card
    background-color: #fff
    padding-left: 60px
    padding-top: 48px
    padding-bottom: 58px
    margin-bottom: 14px
    h3
      padding-left: 20px
      margin: 0
      color: $slc-green
      span
        font-weight: bold
        color: $slc-blue
  .grass-card
    color: lighten(#000, 30%)
    font-size: 16px
    background-color: #fff
    // padding: 10px 6px
    margin-bottom: 14px
    p
      padding: 10px
    img
      margin-top: 10px
      margin-bottom: 20px
    &:hover p
      background-color: $slc-blue
      color: #fff
footer
  background-image: asset-url('bg-footer.jpg')
  background-position: center center
  background-size: cover
  padding: 0
  color: #fff
  #box-newsletter
    padding: 20px 0 30px 50px
    background-color: rgba(0, 0, 0, 0.5)
    img
      padding-bottom: 14px
      border-bottom: 4px solid #fff
    h4
      font-weight: 700
      font-size: 36px
      letter-spacing: 2px
    p
      font-size: 18px
      font-weight: 300
    input
      border-radius: 0
      border: 0
      width: 70%
#lemon-pepper
  padding-top: 10px
  @media screen and (max-width: 767px)
    text-align: center

#reselers-header
  background-image: asset-url('bg-reselers-head.jpg')
  background-size: cover
  background-repeat: no-repeat
  background-position: center center
  padding: 30px 0
  margin-top: 57px
  color: #fff
  img
    padding-bottom: 19px
    padding-right: 40px
    border-bottom: 4px solid #fff
  h1
    font-size: 47px
    text-transform: uppercase
    span
      font-weight: bold
.breadcrumb
  border-radius: 0
  background-color: transparent
  margin-bottom: 0
  background-color: #fff
  a
    color: $slc-blue
    &:hover
      color: $slc-green
  > li + li
    &::before
      color: $slc-blue
#contact
  background-color: #fff
  background-image: asset-url('bg-reselers-contact.jpg')
  background-size: cover
  background-position: center center
  background-repeat: no-repeat
  padding: 90px 0 90px 0
  .form-control
    -webkit-appearance: none
    border-radius: 0
    border: 1px solid darken($slc-blue, 2%)
    color: darken($slc-blue, 2%)
    &:focus
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba($slc-green,.6)
      border: 1px solid $slc-green
      transition: all 400ms
  select
    background: asset-url('images/arrow-select.png') no-repeat right #fff
  textarea
    resize: none
  button
    margin-top: 30px
    padding: 4px 32px 8px 32px
    font-size: 14px
    color: darken($slc-green, 20%)
    background-color: transparent
    border: 1px solid darken($slc-blue, 2%)
    transition: all 400ms
    &:hover
      background-color: $slc-green
      color: #fff
      border: 1px solid $slc-green
      transition: all 400ms

    i
      font-size: 30px
      padding-right: 8px

#line-header
  background-size: cover
  background-repeat: no-repeat
  background-position: center center
  padding: 30px 0
  margin-top: 57px
  color: #fff
  img
    padding-bottom: 19px
    padding-right: 40px
    border-bottom: 4px solid #fff
  h1
    font-size: 47px
    text-transform: capitalize
    span
      font-weight: bold
  .breadcrumb
    background-color: $slc-grey

#grass
  padding: 14px 0 0 0
  .error
    font-size: 30px
    color: red
    text-align: center
    margin-top: 120px
  .grass-box
    background-color: #fff
    margin-bottom: 14px
    padding-top: 30px
    min-height: 400px
    margin-left: 15px
    margin-right: 15px
    max-width: 98%
  .grass-title
    font-size: 24px
    font-weight: bold
    display: flex
    padding-left: 30px
  .grass-description
    font-size: 16px
    font-weight: normal
    display: flex
    padding-left: 30px
    padding-right: 30px
    padding-top: 20px
    // padding-top: 30px
  .img-show-thumb
    border: 1px solid black
    margin-bottom: 5px
  ul
    padding-left: 30px
    display: inline-block
  .grass-specs
    font-size: 16px
    font-weight: bold
    padding-top: 30px
    span
      font-weight: normal
  .carousel
    width: auto
    a
      &:hover, &:active, &:visited
        text-decoration: none
        border: 0
        background-color: transparent
      text-decoration: none
  .bx-wrapper
    margin: 0
    border: 0
    box-shadow: none
    -webkit-box-shadow: none
  .slider-product
    margin-left: -15px
  .budget
    padding: 10px 20px
    border: 1px solid $slc-green
    color: $slc-green
    font-size: 16px
    i
      font-size: 30px
      padding-right: 10px
#institutional-header
  background-size: cover
  background-repeat: no-repeat
  background-position: center center
  padding: 30px 0
  margin-top: 57px
  color: #fff
  img
    padding-bottom: 19px
    padding-right: 40px
    border-bottom: 4px solid #fff
  h1
    font-size: 47px
    text-transform: uppercase
    font-weight: lighter
    span
      font-weight: bold
#institutional-content
  background-color: #fff
  p
    color: darken($slc-light-grey, 40%)
    padding-bottom: 40px
    font-size: 14px
  h2
    font-size: 21px
    color: $slc-green
    text-align: justify
    padding-bottom: 40px
#institutional-video
  padding: 30px 0
  h3
    font-size: 18px
    color: $slc-blue
    margin-top: 0
    line-height: 0.8
    text-transform: uppercase
    // top: 50px
    transform: translateY(100px)
    &.two_movies
      transform: translateY(0px)
      padding-bottom: 20px
    &.text-show
      transform: translateY(0px)
  p
    font-size: 14px
    padding: 0 200px 0 0
    margin-top: 50px
    margin-bottom: 50px
    text-align: justify
    transform: translateY(70px)
    &.two_movies
      padding: 0
      transform: translateY(0px)
    &.text-show
      transform: translateY(0px)
      margin-top: 20px

// CSS Slides Institucional
#slides
  .slidesjs-container
    margin-bottom: 10px
  .slidesjs-previous
    margin-right: 5px
    float: left
    font-size: 26px
  .slidesjs-next
    margin-right: 5px
    float: left
    font-size: 26px
  a
    color: #333
    &active, &hover
      color: #9e2020

.slidesjs-pagination
  margin: 6px 0 0
  float: right
  list-style: none
  li
    float: left
    margin: 0 1px
    a
      display: block
      width: 13px
      height: 0
      padding-top: 13px
      background-image: asset-url('pagination.png')
      background-position: 0 0
      float: left
      overflow: hidden
      .active, &hover.active
        background-position: 0 -13px
      &hover
        background-position: 0 -26px
// .slidesjs-pagination li a.active, .slidesjs-pagination li a:hover.active { background-position: 0 -13px }
//
// .slidesjs-pagination li a:hover { background-position: 0 -26px }

// #slides a:link, #slides a:visited { color: #333 }
//
// #slides a:hover, #slides a:active { color: #9e2020 }
