= form_for [:admin, @newsletter] do |f|
  -if f.error_messages
    .alert.alert-danger.alert-dismissable
      %i.fa.fa-ban
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} &times;
      %b Alert!
      = f.error_messages

  .box-body        
    .form-group 
      = f.label :email
      = f.text_field :email, :class => "form-control"
  .box-footer
    =f.submit nil, :class => "btn btn-primary"