%section.content-header
  %h1
    ="Admin/Newsletter"
    %small Painel de Controle
  %ol.breadcrumb
    %li
      %a{:href => admin_root_path}
        %i.fa.fa-dashboard
        Home
    %li.active="Admin/Newsletter"


/ Main content
%section.content
  .row
    / left column
    .col-md-12
      / general form elements
      .box.box-primary
        .box-header
          %h3.box-title
            ="Admin/Newsletter"
        / /.box-header
        / form start
        = render 'form'
      
        %p
          = link_to t("back_list"), admin_newsletters_path, :class => "btn btn-default"
