%section.content-header
  %h1
    Admin/Newsletters  
    %small Painel de Controle
  %ol.breadcrumb
    %li
      %a{:href => admin_root_path}
        %i.fa.fa-dashboard
        Home
    %li.active Admin/Newsletters 
/ Main content
%section.content
  .col-xs-12
    %p= link_to "Novo Admin/Newsletter", new_admin_newsletter_path, :class => "btn btn-primary"
    .box
      .box-header
        %h3.box-title="Admin/Newsletters Cadastrados"
      .box-body.table-responsive.no-padding
        %table.table.table-hover
          %tr
            %th=t("activerecord.attributes.newsletter.email")
            %th=t("activerecord.attributes.newsletter.created_at")
            %th=t("actions")
          - for newsletter in @newsletters
            %tr
              %td= newsletter.email
              %td= I18n.l(newsletter.created_at, :format => :long)
              %td  
                = link_to t("destroy"),[:admin, newsletter],  method: :delete , data:{confirm: t("msg_delete")}, class: "btn btn-default"
    %p= link_to "Novo Admin/Newsletter", new_admin_newsletter_path, :class => "btn btn-primary"
