%section.content-header
  %h1
    Admin/Newsletter  
    %small Painel de Controle
  %ol.breadcrumb
    %li
      %a{:href => admin_root_path}
        %i.fa.fa-dashboard
        Home
    %li.active Admin/Newsletter


/ Main content
%section.content
  .row
    / left column
    .col-md-12
      / general form elements
      .box.box-primary
        .box-header
          %h3.box-title="Admin/Newsletter"
        .box-body  
          %p
            %b="#{t("activerecord.attributes.newsletter.email")}:"
            %br
            = @newsletter.email
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.newsletter.active")}:"
            %br
            = @newsletter.active
            
        
  = link_to t("back_list"), admin_newsletters_path, :class => "btn btn-default"
  = link_to t("edit"), edit_admin_newsletter_path(@newsletter), :class => "btn btn-default" 
  = link_to "Novo Admin/Newsletter", new_admin_newsletter_path, :class => "btn btn-primary"


