%section#reselers-header
  .container-fluid
    .row
      .col-md-3.col-md-offset-1
        =image_tag("icon-message.png")
        %h1
          Entre em
          %span
            Contato
%section#breadcrumbs
  .container-fluid
    .row
      %ol.breadcrumb
        %li
          =link_to("Home", root_path)
        %li.active
          Distribuidores
%section#contact
  .container-fluid
    .row
      .col-md-6.col-md-offset-6
        %form
          .form-group
            %label{:for => "#name"}
              Nome Completo
            %input.form-control#name{:type => "text", :placeholder => "Nome Completo"}
            %label{:for => "#email"}
              E-mail
            %input.form-control#email{:type => "email", :placeholder => "exemplo@email.com.br"}
            %label{:for => "#phone"}
              Telefone
            %input.form-control#phone{:type => "text", :placeholder => "(11)9-9999-9999"}
            %label{:for => "#city"}
              Cidade / Estado
            %input.form-control#city{:type => "text", :placeholder => "Cidade / Estado"}
            %label{:for => "#subject"}
              Assunto
            %select.form-control#subject
              %option{:disabled => "true", :selected => "true"}
                Selecione o assunto
              %option
                Assunto 1
              %option
                Assunto 2
            %label{:for => "#message"}
              Mensagem
            %textarea.form-control{:rows => "4", :placeholder => "Mensagem"}
            %button.pull-right{:type => "submit"}
              %i.fa.fa-envelope-o
              Enviar
