%section.content-header
  %h1
    Admin/Users  
    %small Painel de Controle
  %ol.breadcrumb
    %li
      %a{:href => admin_root_path}
        %i.fa.fa-dashboard
        Home
    %li.active Admin/Users 
/ Main content
%section.content
  .col-xs-12
    %p= link_to "Novo Admin/User", new_admin_user_path, :class => "btn btn-primary"
    .box
      .box-header
        %h3.box-title="Admin/Users Cadastrados"
      .box-body.table-responsive.no-padding
        %table.table.table-hover
          %tr
            %th=t("activerecord.attributes.user.email")
            %th=t("activerecord.attributes.user.password")
            %th=t("actions")
          - for user in @users
            %tr
              %td= user.email
              %td= user.password
              %td  
                = link_to t("show"), [:admin, user], :class => "btn btn-default"
                = link_to t("edit"), edit_admin_user_path(user), :class => "btn btn-default"
                = link_to t("destroy"), [:admin, user], :confirm => t("msg_delete"), :method => :delete, :class => "btn btn-default"
    %p= link_to "Novo Admin/User", new_admin_user_path, :class => "btn btn-primary"
