%section#line-header{style: "background-image:url(#{@product.product_line.product_line_featured_image.url})"}
  .container-fluid
    .row
      .col-md-3.col-md-offset-1
        = image_tag(@product.product_line.product_line_internal_image.url)
        - line_name = @product.product_line.name.split(" ", 2)
        %h1
          =line_name[0]
          %span
            =line_name[1]
%section#breadcrumbs
  .container-fluid
    .row
      %ol.breadcrumb
        %li
          =link_to("Home", root_path())
        %li
          =link_to(@product.product_line.name, product_line_path(@product.product_line_id))
        %li.active
          = @product.title
%section#grass
  .container-fluid
    = render 'layouts/product', locals: {product: @product, product_images: @product_images}
