/ sidebar: style can be found in sidebar.less
%section.sidebar
  / Sidebar user panel
  .user-panel
    .pull-left.image
      %img.img-circle{:alt => "User Image", :src => "/assets/AdminLTE/user2-160x160.jpg"}/
    .pull-left.info
      %p= current_user.name
      %a{:href => "#{logout_path}"}
        %i.fa.fa-circle.text-success
        Sair

  %ul.sidebar-menu
    %li.header MENU PRINCIPAL
    %li
      =link_to admin_featureds_path() do
        %i.fa.fa-circle-o
        Destaques
    %li.active.treeview
      %a{:href => "#"}
        %i.fa.fa-dashboard
        %span Produto
        %span.pull-right-container
          %i.fa.fa-angle-left.pull-right
      %ul.treeview-menu    
        %li
          =link_to admin_height_fibreas_path() do
            %i.fa.fa-circle-o
            Altura da Fibra
        %li
          =link_to admin_roll_widths_path() do
            %i.fa.fa-circle-o
            Largura do Rolo
        %li
          =link_to admin_fiber_types_path() do
            %i.fa.fa-circle-o
            Tipo de Fibra
        %li
          =link_to admin_products_path() do
            %i.fa.fa-circle-o
            Cadastro de Produto
    %li
      =link_to admin_newsletters_path() do
        %i.fa.fa-circle-o
        Newsletters        
    %li
      =link_to edit_admin_configuration_site_path("slc") do 
        %i.fa.fa-circle-o
        Configurações do Sistema
    %li 
      =link_to admin_internal_images_path() do 
        %i.fa.fa-circle-o
        Destaques das Internas
