.container-fluid
  .row#bg-search
    .container
      .row
        .col-md-6.col-md-offset-3
          .row#box-search
            %h2
              Filtros de
              %span
                Pesquisa
            =form_tag(filters_path, method: :post) do
              .form-group
                %label{:for => "product_line"}
                  linha do produto
                = select_tag :product_line, options_for_select(@product_lines_filter.collect{|x| [x.name,x.slug]}), {class: "form-control", prompt: "Selecione a Linha do Produto"}
                %label{:for => "height_fibreas"}
                  altura da fibra
                = select_tag :height_fibrea, options_for_select(@height_fibreas_filter.collect{|x| [x.title,x.id]}), {class: "form-control", prompt: "Selecione a Altura da Fibra"}
                %label{:for => "roll_width"}
                  largura do rolo
                = select_tag :roll_width, options_for_select(@roll_widths_filter.collect{|x| [x.title,x.id]}), {class: "form-control", prompt: "Selecione a Largura do Rolo"}
                %label{:for => "fiber_type"}
                  tipo de fibra
                = select_tag :fiber_type, options_for_select(@fiber_types_filter.collect{|x| [x.title,x.id]}), {class: "form-control", prompt: "Selecione o Tipo de Fibra"}
                %button.pull-right{:type => "submit"}
                  %i.fa.fa-filter
                  Filtrar