.container-fluid
  .row
    .col-md-5
      %strong
        %p
          %span.fa.fa-copyright
          2016 XPlast Industria Paraguaya
      %p
        de Artefactos Plasticos y Metalicos S.A. - Todos os direitos reservados.
        Av. Amado Benitez Gamarra Y 25 de Agosto - Bairro San Alfredo I
        Fone +595 61 570395 | Ciudad del Este | Alto Paraná | Paraguay
      %p
        Distribuido no Brasil por Mitro Importação, Exportação e Distribuição:
        Rua Luiz Onofre de Amorim, 50 | Pq. Fernão Dias | CEP 12948-009
        Fone 55 11 4414.2800 | Atibaia | SP | Brasil
      %p.sac
        SAC - 0800 123 456
    .col-xs-12.col-md-4.televendas
      .row
        .col-xs-12.col-md-3
          =image_tag("televendas-icon.png")
        .col-xs-12.col-md-7
          %p
            TELEVENDAS
          %p
            +55 11 2345-5432
    .col-md-3.col-xs-12.text-right.logo-footer
      =link_to "http://www.xplast.com.py" do
        =image_tag("logo.png")
        %p
          www.xplast.com.py
      %ul.list-unstyled.list-inline.text-right
        %li
          =link_to(image_tag("fb-icon-small.png"),"https://www.facebook.com/xplastpy/", target: "_blank")
        %li
          =link_to(image_tag("insta-icon-small.png"),"https://www.instagram.com/xplast/", target: "_blank")
        %li
          =link_to(image_tag("in-icon-small.png"),"https://www.linkedin.com/company/xplast/", target: "_blank")