%nav.nav.navbar-default
  #main-nav-bg.container-fluid.navbar-fixed-top
    .row
      .navbar-header
        %button.navbar-toggle.collapsed{:type => "button", :'data-toggle' => "collapse", :'data-target' => "#main-nav", :'aria-expanded' => "false"}
          %span.sr-only
            Navegação Aninhada
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        =link_to(image_tag("logo.png"), root_path , :class => "nav-brand")
      .container
        .row
          .collapse.navbar-collapse#main-nav
            %ul.nav.navbar-nav.text-center
              %li
                =link_to("Institucional", about_path)
              %li
                =link_to("Grama Sintética", synthetic_grass_path)
              -if !@product_lines.blank?
                -@product_lines.each do |product_line|
                  %li
                    = link_to product_line.name, product_line_path(product_line)
              %li
                =link_to("Pesquisa e Inovação", research_and_innovation_path)
              %li
                =link_to("Garantia", warranty_path)
              %li
                =link_to("Distribuidores", new_reseler_path)

            %nav#social-nav.text-center
              %ul.list-inline.list-unstyled
                - if !@configuration_site.link_facebook.blank?
                  %li
                    =link_to(image_tag("icon-facebook.png"), @configuration_site.link_facebook , class: "img-responsive", target: "_blank")
                - if !@configuration_site.link_instagram.blank?
                  %li
                    =link_to(image_tag("icon-instagram.png"), @configuration_site.link_instagram , class: "img-responsive", target: "_blank")
                - if !@configuration_site.whatsapp.blank?
                  %li
                    =link_to(image_tag("icon-whatsapp.png"), "https://api.whatsapp.com/send?phone="+limpar_phone(@configuration_site.whatsapp) , class: "img-responsive", target: "_blank")
