.row
  .col-md-12.grass-box
    .row
      .col-md-6
        - if !@product_images.blank?
          .slider-product
            %ul.bxslider{id: "slider-orion-#{@product.id}"}
              -@product_images.each do |product_image|
                %li
                  =image_tag(product_image.image_prod.url("internal"))
        -else
          .slider-product
            %ul.bxslider{id: "slider-orion-#{@product.id}"}
              %li
                =image_tag(@product.product_home_image.url("internal"))
          
      .col-md-6
        %p.grass-title=@product.title
        %ul.list-unstyled.grass-specs
          %li
            Altura da Fibra:
            %span
              =@product.height_fibrea.title
          %li
            Largura do Rolo:
            %span
              =@product.roll_width.title
          -if !@product.length_roll.blank?
            %li
              Comprimento do Rolo:
              %span
                =@product.length_roll
          -if !@product.length_roll.blank?
            %li
              Peso:
              %span
                =@product.weight
          %li
            Fibras:
            %span
              =@product.fiber_type.title
          -if !@product.thickness_wire.blank?
            %li
              Espessura do Fio:
              %span
                =@product.thickness_wire
          -if !@product.basis.blank?
            %li
              Base:
              %span
                =@product.basis
          -if !@product.warranty.blank?
            %li
              =@product.warranty
        %p.grass-description
          =@product.description
        - if !@product_images.blank?
          .pull-left.carousel{id: "carousel-orion-#{@product.id}"}
            - i = 0
            -@product_images.each do |product_image|
              =link_to(image_tag(product_image.image_prod.url("thumb"), class: "img-show-thumb"), "#", :'data-slide-index' => i)
              - i = i+1

        -else
          .pull-left.carousel{id: "carousel-orion-#{@product.id}"}
            =link_to(image_tag(@product.product_home_image.url("thumb"), class: "img-show-thumb"), "#", :'data-slide-index' => "1")
        -content_for :footer do
          :javascript
            $(document).ready(function(){
              $('#slider-orion-#{@product.id}').bxSlider({
                pagerCustom: '#carousel-orion-#{@product.id}'
              });
            });
          

