!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %title 
      = content_for?(:title) ? t("site_name") +" "+ t("admin_name") + " - " + yield(:title) : t("site_name") +" "+ t("admin_name")
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", :name => "viewport"}/
    = csrf_meta_tag
    = stylesheet_link_tag "bootstrap.min.css", 'data-turbolinks-track' => true
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css", :rel => "stylesheet"}/
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css", :rel => "stylesheet"}/
    = stylesheet_link_tag "jvectormap/jquery-jvectormap-1.2.2.css"
    = stylesheet_link_tag "AdminLTE.min.css"
    = stylesheet_link_tag "skins/_all-skins.min.css"
    = stylesheet_link_tag "admin_custom"
    = yield(:head)
    / HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    / WARNING: Respond.js doesn't work if you view the page via file://
    /[if lt IE 9]
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  %body.hold-transition.skin-blue.sidebar-mini
    .wrapper
      %header.main-header
        / Logo
        =link_to admin_root_path(), class: "logo" do
          / mini logo for sidebar mini 50x50 pixels
          %span.logo-mini
            %b=t("admin_short_site_name")
          / logo for regular state and mobile devices
          %span.logo-lg
            %b=t("admin_site_name")
        / Header Navbar: style can be found in header.less
        %nav.navbar.navbar-static-top
          / Sidebar toggle button
          %a.sidebar-toggle{"data-toggle" => "offcanvas", :href => "#", :role => "button"}
            %span.sr-only Toggle navigation
          / Navbar Right Menu

      %aside.main-sidebar
        = render file: "layouts/_admin_menu.html.haml"
      / Content Wrapper. Contains page content
      .content-wrapper
        =yield
      %footer.main-footer
        .pull-right.hidden-xs
          %b Lemon Administrador 
        %strong
          Copyright 2016
    / ./wrapper
    =javascript_include_tag 'application', 'data-turbolinks-track' => true
    =javascript_include_tag 'app.min', 'data-turbolinks-track' => true
    =javascript_include_tag 'bootstrap.min', 'data-turbolinks-track' => true
    /%script{:src => "plugins/fastclick/fastclick.js"}
    /%script{:src => "plugins/sparkline/jquery.sparkline.min.js"}
    /%script{:src => "plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"}
    /%script{:src => "plugins/jvectormap/jquery-jvectormap-world-mill-en.js"}
    /%script{:src => "plugins/slimScroll/jquery.slimscroll.min.js"}
    /%script{:src => "plugins/chartjs/Chart.min.js"}
    /=javascript_include_tag 'pages/dashboard2', 'data-turbolinks-track' => true
    =javascript_include_tag 'demo', 'data-turbolinks-track' => true
    = yield(:footer) 


