!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{'name' => 'viewport', :content => 'width=device-width, initial-scale=1'}/
    %title
      = content_for?(:title) ? t("site_name") + " - " + yield(:title) : t("site_name")
    %link{:charset => "utf-8", :href => "https://fonts.googleapis.com/css?family=Roboto:400,700,300", :media => "all", :rel => "stylesheet"}
    = csrf_meta_tag
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css", :rel => "stylesheet"}/
    = stylesheet_link_tag "application", media: "all"
    = yield(:head)
  %body
    =render file: "layouts/_header_nav.html"
    = yield
    %footer
      .container-fluid
        .row
          .col-md-6.col-md-offset-6
            .row
              #box-newsletter
                =image_tag("icon-newsletter.png")
                %h4
                  Newsletter
                %p
                  Cadastre o seu e-mail em nossa Newsletter e receba as nossas novidades e notícias.
                %form
                  .form-group
                    %input.form-control{:type => "email", :placeholder => "e-mail"}
    .container-fluid
      .row#lemon-pepper
        .col-md-10
          %p
            &copy SLC. Todos os direitos reservados.
        .col-md-2.text-center
          =link_to(image_tag("logo-lemon-pepper.png"), "http://www.lemonpepper.com.br", :target => "_blank")
    =javascript_include_tag 'application'
    = yield(:footer)
