!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %title 
      = content_for?(:title) ? t("site_name") +" "+ t("admin_name") + " - " + yield(:title) : t("site_name") +" "+ t("admin_name")
    %meta{:content => "width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no", :name => "viewport"}/
    = csrf_meta_tag
    = stylesheet_link_tag "bootstrap.min.css", 'data-turbolinks-track' => true
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.2/css/font-awesome.min.css", :rel => "stylesheet"}/
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css", :rel => "stylesheet"}/
    = stylesheet_link_tag "AdminLTE.min.css"
    = stylesheet_link_tag "skins/_all-skins.min.css"
    /= stylesheet_link_tag "iCheck/square/blue.css"
    / HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    / WARNING: Respond.js doesn't work if you view the page via file://
    /[if lt IE 9]
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  %body.hold-transition.login-page
    .login-box
      .login-logo
        =link_to login_path do 
          %b>=t("site_name")
          \ #{t("admin_name")}
      / /.login-logo
      .login-box-body
        -if !flash[ :notice ].blank?        
          %p.callout.callout-danger.text-center
            =flash[ :notice ]
        %p.login-box-msg
          =t("message_show.login_text")
        = form_for @user_session do |f|
          = f.error_messages
          =f.hidden_field :remember_me, :value => true
          .form-group.has-feedback
            = f.text_field :email, class: "form-control", type: "email", placeholder: t("activerecord.attributes.user.email")
            %span.glyphicon.glyphicon-envelope.form-control-feedback
          .form-group.has-feedback
            = f.text_field :password, class: "form-control", type: "password", placeholder: t("activerecord.attributes.user.password")
          .row
            .col-xs-8
            / /.col
            .col-xs-4
              =f.submit "Entrar", class: "btn btn-primary btn-block btn-flat"

            / /.col

        /%a{:href => "#"} I forgot my password
      / /.login-box-body
    / /.login-box
    =javascript_include_tag 'application', 'data-turbolinks-track' => true
    =javascript_include_tag 'bootstrap.min', 'data-turbolinks-track' => true
