%section.content-header
  %h1
    =RollWidth.model_name.human()   
    %small Painel de Controle
  %ol.breadcrumb
    %li
      %a{:href => admin_root_path}
        %i.fa.fa-dashboard
        Home
    %li.active=RollWidth.model_name.human()  
/ Main content
%section.content
  .col-xs-12
    %p= link_to "Novo #{RollWidth.model_name.human()} ", new_admin_roll_width_path, class: "btn btn-primary"
    .box
      .box-header
        %h3.box-title="#{RollWidth.model_name.human(count: 2)} Cadastrados"
      .box-body.table-responsive.no-padding
        %table.table.table-hover
          %tr
            %th=t("activerecord.attributes.roll_width.title")
            %th=t("activerecord.attributes.roll_width.published")
            %th=t("actions")
          - for roll_width in @roll_widths
            %tr
              %td= roll_width.title
              %td= show_boolean(roll_width.published)
              %td  
                = link_to t("show"), [:admin, roll_width], class: "btn btn-default"
                = link_to t("edit"), edit_admin_roll_width_path(roll_width), class: "btn btn-default"
                = link_to t("destroy"),[:admin, roll_width],  method: :delete , data:{confirm: t("msg_delete")}, class: "btn btn-default"
    %p= link_to "Novo #{RollWidth.model_name.human()} ", new_admin_roll_width_path, class: "btn btn-primary"
