%section.content-header
  %h1
    =RollWidth.model_name.human()   
    %small Painel de Controle
  %ol.breadcrumb
    %li
      %a{:href => admin_root_path}
        %i.fa.fa-dashboard
        Home
    %li.active=RollWidth.model_name.human() 


/ Main content
%section.content
  .row
    / left column
    .col-md-12
      / general form elements
      .box.box-primary
        .box-header
          %h3.box-title=RollWidth.model_name.human() 
        .box-body  
          %p
            %b="#{t("activerecord.attributes.roll_width.title")}:"
            %br
            = @roll_width.title
            
        .box-body  
          %p
            %b="#{t("activerecord.attributes.roll_width.published")}:"
            %br
            = show_boolean(@roll_width.published)
        
  = link_to t("back_list"), admin_roll_widths_path, :class => "btn btn-default"
  = link_to t("edit"), edit_admin_roll_width_path(@roll_width), class: "btn btn-default"
  = link_to "Novo #{RollWidth.model_name.human()} ", new_admin_roll_width_path, class: "btn btn-primary"


